<template>
	<view class="content">
		<view v-if="loading === 'loading'">正在获取购车数据...</view>
		<view v-else-if="loading === 'empty'">
			购物车数据为空，快去逛逛吧~
		</view>
		<view v-else-if="loading === 'list'" class="shopView">
			<view class="shopList">
				<checkbox-group
					@change="handleChange"
				>
					<shop-item 
						v-for="val in shopCarList"
						:key="val.basketId"
						:prodName="val.prodName"
						:pic="val.pic"
						:skuName="val.skuName"
						:brief="val.brief"
						:price="val.price"
						:titleLine="2"
					>
						<template #lt-content>
							<checkbox :value="val.basketId" :checked="val.itemChecked" />
						</template>
						<template #rb-content>
							<view class="btns">
								<button @click="handleChangeItem(-1, val)">-</button>
								<span>{{val.prodCount}}</span>
								<button @click="handleChangeItem(1, val)">+</button>
							</view>
						</template>
					</shop-item>
				</checkbox-group>
			</view>
			<view class="shopcarFooter">
				<checkbox :checked="allChecked" @click="hanldeAllChange"/>全选
				<span>删除</span>
				<p>合计<b>{{allPrice}}</b></p>
				<button>结算</button>
			</view>
		</view>
	</view>
</template>

<script>
	import { requestShopCar, requestReducePrice, requestChangeItem } from "@/services/shopcar"
	export default {
		data() {
			return {
				loading: 'loading',
				shopCarList: [],
				allChecked: false, //全选
				allPrice: 0 // 总价
			}
		},
		onLoad() {
			this.init();
		},
		watch: {
			shopCarList: {
				handler(val){
					const checkes = val.filter(item => item.itemChecked).map(v => v.basketId)
					this.reduceSumPrice(checkes);
				},
				deep: true
			}
		},
		methods: {
			showLoading(){
				uni.showToast({
					icon: 'loading',
					mask: true
				})
			},
			async init(){
				// 获取购物车数据
				this.showLoading();
				const res = await requestShopCar();
				this.shopCarList = res[0].shopCartItemDiscounts[0].shopCartItems.map(val => ({...val, itemChecked: false})); // 购物车数据发生变化
				this.loading = res.length ? 'list' : 'empty';
			},
			// 全选按钮选中
			hanldeAllChange(){
				this.showLoading();
				// console.log(this.allChecked);
				this.allChecked = !this.allChecked; // 同步全选自身状态
				this.shopCarList.map(item => {
					item.itemChecked = this.allChecked;
				})
			},
			// 商品选中
			handleChange({detail:{value}}){
				this.showLoading();
				this.shopCarList.map((item) => {
					if(value.includes(`${item.basketId}`)){
						item.itemChecked = true;
					} else {
						item.itemChecked = false;
					}
				})
				this.allChecked = value.length === this.shopCarList.length; // 全选了
			},
			// 商品加减
			async handleChangeItem(count, {prodId,shopId,skuId,basketId,prodCount}){
				if(prodCount === 1 && count === -1){ // 数量为1的时候不能在减
					return;
				}
				this.showLoading();
				await requestChangeItem({
					count,
					prodId,
					shopId,
					skuId
				})
				this.changeShopIconNumber();
				// 等接口成功修改商品列表
				const curShopItem = this.shopCarList.find(val => basketId === val.basketId);
				curShopItem.prodCount = curShopItem.prodCount + count;
			},
			// 计算总价
			async reduceSumPrice(checkes){
				const res = await requestReducePrice(checkes);
				uni.hideToast();
				this.allPrice = res.totalMoney;
			}
		}
	}
</script>

<style>
	.shopView {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		background: #f4f4f4;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
	.shopList {
		box-sizing: border-box;
		padding: 20rpx;
		background: #fff;
		flex:1;
		overflow-y: scroll;
		margin-bottom: 40rpx;
	}
	.shopcarFooter {
		width: 100%;
		height: 100rpx;
		display: flex;
		align-items: center;
		background: #fff;
	}
	checkbox .wx-checkbox-input{
		width: 40rpx; 
		height: 40rpx; 
		border-radius: 50%;
	}
	/* 选中后的背景样式 */
	checkbox .wx-checkbox-input.wx-checkbox-input-checked{
		border: none;
		background: #d83c4a;
	}

	/* 选中后的勾子样式 */
	checkbox .wx-checkbox-input.wx-checkbox-input-checked::before{
		width: 40rpx;
		height: 40rpx;
		line-height: 40rpx;
		border-radius: 50%;
		text-align: center;
		font-size:32rpx; 
		color:#FFF; 
		background: transparent;
		transform:translate(-50%, -50%) scale(1);
		-webkit-transform:translate(-50%, -50%) scale(1);
	}
	.btns {
		display: flex;
	}
	.btns button, span {
		width: 40rpx;
		height: 40rpx;
		margin: 0;
		padding: 0;
		text-align: center;
		line-height: 40rpx;
	}
</style>
