<template>
	<view class="content">
		<button v-if="isShow" @click="getUserInfo">点击按钮授权登录</button>
		<button @click="toDetail(18)">进入详情-手机</button>
		<button @click="toDetail(73)">进入详情-果子</button>
		<button @click="toDetail(70)">进入详情-梨</button>
	</view>
</template>

<script>
import { login, setUserInfo } from "@/services/user"

	export default {
		data() {
			return {
				title: 'Hello',
				isShow: false
			}
		},
		async onLoad(){
			await this.login();
			this.changeShopIconNumber();
		},
		methods: {
			async login(){
				const token = uni.getStorageSync('token');
				if(!token) {
					this.isShow = true; // 展示授权 用户名和头像 弹窗入口
				} else {
					this.isShow = false; // 已经登录不展示授权入口
				}
				// 获取用户登录状态
				// 获取code
				const [,{code}] = await uni.login(); // 跟授权没有关系
				// 根据code请求我们自己的后台登录接口
				const res = await login({
					principal: code
				})
				uni.setStorageSync('token', res.access_token);
				// 拿到token，存入本地存储
			},
			toDetail(id){
				// 跳转详情
				// console.log('条详情');
				this.$toPage({
					url: '/pages/detail/index',
					redirect: true,
					query: {
						prodId: id   // 70 18  73
					}
				})
			},
			getUserInfo(){ // 点击按钮触发
				// 展示微信授权弹窗
				uni.getUserProfile({ // 10月25号之后不能使用
					desc: '用于个人中心展示',
					// 点完允许进入success
					success(data){ 
						// console.log(data.userInfo);
						const { avatarUrl, nickName } = data.userInfo;
						// 调用setUserInfo 设置当前用户的头像和昵称
						setUserInfo({
							avatarUrl,
							nickName
						}).then(res => {
							console.log(res);
						})
					}
				})
			}
		}
	}
</script>

