<template>
  <view>
    新增和编辑地址
    <button @click="toMap">地图</button>
  </view>
</template>
<script>
const chooseLocation = requirePlugin('chooseLocation');
export default {
  onShow () {
    const location = chooseLocation.getLocation(); 
    // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
    console.log(location);
  },
  onUnload () {
    // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
    chooseLocation.setLocation(null);
  },
  methods: {
    toMap(){
      const key = '46XBZ-52LK5-RLEIP-QZADT-XIJLE-EJFQB'; //使用在腾讯位置服务申请的key
      const referer = '八维电商平台'; //调用插件的app的名称
      // 打开地图的中心点位置
      const location = JSON.stringify({
        latitude: 39.89631551,
        longitude: 116.323459711
      });
      const category = '生活服务,地图选址';
      // 跳转插件页面
      uni.navigateTo({
        url: 'plugin://chooseLocation/index?key=' + key + '&referer=' + referer + '&location=' + location + '&category=' + category
      });
    }
  }
}
</script>
<style>
  
</style>