<template>
  <view @click="to">
    地址
  </view>
</template>
<script>
export default {
  methods: {
    to(){
      uni.navigateTo({
				url: '/pages/address/addAndEdit'
			})
    }
  }
}
</script>
<style>
  
</style>