<template>
  <view @click="toSearch">
    搜索
  </view>
</template>
<script>
export default {
  methods: {
    toSearch(){
      uni.navigateTo({
				url: '/pages/address/index'
			})
    }
  }
}
</script>
<style>
  
</style>