<template>
  <view>
    <view><button @click="handleShowSKUPopup">加入购物车</button></view>
    <view v-html="detailData.content"></view>
    <uni-popup ref="popup" type="bottom">
      <view class="popup-content">
        <view class="popup-close">X</view>
        <view class="popup-info">
          <view class="info-image">
            <image :src="skuData.checkedPic" v-if="skuData.checkedPic" />
            <view v-else></view>
          </view>
          <view class="info-dd">
            <h1 v-if="!disabled">￥{{skuData.checkedPrice}}</h1>
            <h1 v-else>无货</h1>
            <p>已选: {{skuData.checkedProperty.join(',')}} {{skuData.checkedCount}}件</p>
          </view>
        </view>
        <!--动态渲染properites-->
        <view v-if="skuData.propertyies.length">
          <view v-for="(val,i) in skuData.propertyies" :key="i" class="skuitem">
            <span class="info-title">{{val.title}}</span>
            <button v-for="(v,index) in val.items" :key="index" :class="[isShowActive({
                typeIndex: i,
                itemName: v
              })]" @click="hanldeItems({
                typeIndex: i,
                itemName: v
              })">{{v}}</button>
          </view>
        </view>
        <view class="popup-count-box">
          <span class="info-title">数量</span>
          <button @click="handleChangeCount(-1)">-</button>
          <span>{{skuData.checkedCount}}</span>
          <button @click="handleChangeCount(1)">+</button>
        </view>
        <view class="popup-footer" :class="{
          disabled
        }">
          <button @click="handleAddShopCar">加入购物车</button>
          <button>立即购买</button>
        </view>
      </view>
    </uni-popup>
  </view>
</template>
<script>
import { requestGetDetail } from "@/services/detail"
export default {
  onLoad(options){
    // console.log(options);
    this.init(options.prodId);
  },
  data(){ // vue2组件内data为什么是函数
    return {
      detailData: {},
      skuData: {
        checkedPic:'',
        checkedPrice: 0,
        checkedProperty: [], // [] 默认是skuList数组第一项
        checkedCount: 1,
        propertyies: []
      },
      disabled: false
    }
  },
  watch:{
    // 监听选中属性变化，重新计算价格和图片
    'skuData.checkedProperty'(val){
      const curItem = this.findCurItem(val);
      // 修改价格和图片
      this.skuData.checkedPrice = curItem?.price;
      this.skuData.checkedPic = curItem?.pic;
    }
  },
  methods: {
    // 点击商品规格按钮
    hanldeItems({typeIndex, itemName}){ // 9 0 1 2c
      this.disabled = this.isShowActive({typeIndex,itemName}).trim() === 'disabled';
      let { checkedProperty } = this.skuData; 
      checkedProperty[typeIndex] = itemName;
      this.skuData.checkedProperty = [...checkedProperty];
    },
    // 查找当前选中商品
    findCurItem(checks){
      return this.detailData.skuList.find(({skuName}) => checks.join(' ') === skuName)
    },
    // 判断当前是不是选中属性  
    isShowActive({typeIndex, itemName}){  // 9  // 0 换修无忧版 0 原厂延保版 0 公开版
      // 1 深空灰 1  金色1 映射
      const checkPro = [...this.skuData.checkedProperty];
      checkPro[typeIndex] = itemName;
      // 2 2 2
      let flag = '';
      this.skuData.checkedProperty.forEach((item, index) => {
        if(typeIndex === index && itemName === item){
          flag = 'active';
        }
      }) //[换修无忧版,深空灰色,64GB]
      flag = this.findCurItem(checkPro) ? flag : flag + ' disabled';
      return flag;
    },
    formatSKU(data){
      if(data.length >= 1){
        const { properties, skuName } = data[0];
        this.skuData.checkedProperty = skuName.split(/\s/); // 默认选择第一个
        if(properties){
           // 处理规格
          this.skuData.propertyies = properties.split(';').map((item,i) => {
            const [title] = item.split(':');
            const items = [...new Set(data.map(({skuName}) => skuName.split(/\s/)[i]))];
            return {
              title,
              items
            }
          })
        }
      }
    },
    formatHTML(htmlStr){
      return htmlStr.replace(/width\=\"\d+\"/g, 'width="100%"').replace(/height\=\"\d+\"/g, '')
    },
    async init(id){
      // 请求详情数据
      const data = await requestGetDetail({prodId: id});
      // 处理详情样式
      data.content = this.formatHTML(data.content);
      this.detailData = data;
      // 格式化sku数据
      this.formatSKU(data.skuList);
    },
    handleShowSKUPopup(){
      // console.log(this.$refs);
      this.$refs.popup.open('bottom');
    },
    handleAddShopCar(){
      if(this.disabled === true){
        return;
      }
      console.log('加入购物车')
      const data = {
        basketId: 0,
        count: this.skuData.checkedCount,
        prodId: this.detailData.prodId,
        shopId: this.detailData.shopId,
        skuId: this.findCurItem(this.skuData.checkedProperty).skuId
      }
      console.log(data);
    },
    handleChangeCount(flag){
      if(flag === -1 && this.skuData.checkedCount === 1) return;
      this.skuData.checkedCount = this.skuData.checkedCount + flag;
    }
  }
}
</script>
<style>
  .popup-content {
    background: #fff;
    min-height: 500rpx;
    width: 100%;
  }
  .info-image image,  .info-image view{
    width: 100rpx;
    height: 100rpx;
    background: #ccc;
  }
  .skuitem {

  }
  .skuitem button {
    padding: 4rpx 10rpx;
    display: inline-block;
  }
  .skuitem button.disabled{
    background-color: #f7f7f7;
    color: #fff;
    border-style: dashed;
  }
  .skuitem button.active{
    background: rgb(216, 60, 74);
    color: #fff;
    border-color: transparent;
  }
  .info-title {
    display: block;
    font-size: 24rpx;
  }
  .popup-count-box button, .popup-count-box span{
    width: 80rpx;
    height: 80rpx;
    text-align: center;
    line-height: 80rpx;
    display: inline-block;
  }
  .popup-footer {
    display: flex;
  }
  .popup-footer.disabled button{
    background: #ccc;
    color: #fff;
  }
  .popup-footer button {
    flex: 1;
  }
</style>


